# Dependencies
node_modules/
.pnp
.pnp.js

# Environment
.env
.env.local
.env.*.local

# Build outputs
.next/
out/
dist/
build/
artifacts/
cache/
typechain-types/

# Hardhat
deployments.json

# Misc
.DS_Store
*.log
npm-debug.log*

# Vercel
.vercel
